#main {
    width: 1100px;
    margin: 0 auto;
    height: 500px;
    padding-top: 20px;
}

#main .seller-name {
    padding-top: 20px;
}

#main .goods-ul {
    margin-top: 10px;
    display: table;
    background: RGB(252, 252, 252);
    border: 1px #c1c1c1 solid;
    min-width: 1098px;
}

#main .goods-ul li {
    float: left;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 15px;
}

/*----------------------------购物车商品图片样式*/
#main .goods-ul .goods-image {
    padding-top: 15px;
    padding-left: 20px;
    width: 100px;
}

#main .goods-ul .goods-image img {
    width: 100%;
}

/*----------------------书的标题的样式*/
#main .goods-ul .goods-descript p {
    margin-top: 3px;
    margin-bottom: 3px;
}

#main .goods-ul .goods-descript {
    width: 200px;
}

#main .goods-descript .goods-title {
    font-size: 14px;
    padding-bottom: 5px;
}

#main .goods-ul .goods-price {
    font-weight: bold;
    color: #902BF5;
    font-size: 16px;
    padding-left: 100px;
    width: 100px;
}

#main .goods-ul .goods-num {
    padding-left: 100px;
    width: 100px;
}

#main .goods-ul .goods-num input {
    padding: 5px;
    border: 1px #909FFF solid;
    width: 80px;
    text-align: center;
}

#main .goods-ul .goods-action {
    padding-left: 100px;
}

#main .goods-head {
    margin: 0;
    border: 0;
    background: transparent;
}

#main .goods-head li {
    padding-top: 10px !important;
    font-size: 14px !important;
    color: #000 !important;
    font-weight: normal !important;
}

/*----------------------------合计部分样式*/
#total {
    width: 100%;
    height: 50px;
    background: RGB(229, 229, 229);
    margin-top: 20px;
}

#total li {
    float: left;
    line-height: 50px;
}

#total .del-all {
    padding-left: 20px;
}

#total .tol-price {
    padding-left: 770px;
}

#total .tol-price span {
    font-size: 18px;
    color: #902BF5;
    font-weight: bolder;
}
#total .action-price{
    margin-left: 104px;
    background: #902BF5;
    padding-right: 25px;
    padding-left: 25px;
    color: #ffffff;
}