html,body,p,h1,h2,h3,h4,h5,h6,ul,li,input,button{
    margin: 0;
    padding: 0;
    border: none;
}
li{
    list-style: none;
}
html,body{
    font-family: "宋体",sans-serif;
    font-size: 12px;
}
a{
    text-decoration: none;
}
input{
    background: transparent;
}
#main{
    min-height: 400px;
}
.main{
    min-height: 400px;
}
.button,input[type="button"],input[type="submit"]{
    background: #902BF5;
    color: #ffffff;
    outline: none;
    cursor: pointer;
}
.button:active,input[type="button"]:active,input[type="submit"]:active{
    background: #909FFF;
}
.clear{
    clear: both;
}
/*------------------------------------------顶部css值*/
/*-------------------------------顶部*/
#head{
    width: 100%;
    height: 120px;
    background: #ffffff;
}
/*-------------------------------顶部导航部分*/
#top-navigat{
    width: 100%;
    background: #902BF5;
    color: #ffffff;
}
/*-----------------------------导航左边部分*/
#top-navigat #menu{
    width: 1100px;
    margin: 0 auto;
    height: 40px;
    color: #ffffff;
}
#menu a{
    color: #ffffff;
}
#menu .navigat li{
    float: left;
    line-height: 40px;
    height: 40px;
    width: 60px;
}
#menu .navigat li a{
    display: inline-block;
    line-height: 40px;
    height: 40px;
    width: 60px;
    text-align: center;
    background: #902BF5;
}
#menu .navigat li a:hover{
    background: #902BB1;
}
#menu .navigat li ul li{
    clear: both;
}
#menu .navigat li ul{
    display: none;
}
#menu .navigat li:hover ul{
    display: block;
    position: absolute;
    z-index: 100;
}
/*---------------------------------导航右边部分*/
#menu .top-sell-book{
    float: right;
}
#menu .top-sell-book li{
    line-height: 40px;
    text-align: center;
}
/*-----------------------------下面的搜索框部分*/
#top-search{
    width: 100%;
    background: #ffffff;
}
#top-search div{
    width: 1100px;
    margin: 0 auto;
    height: 80px;
    line-height: 80px;
    color: #ffffff;
    text-align: center;
    position: relative;
    font-size: 0;
}
#top-search div h1{
    font-size: 40px;
    height: 100%;
    position: absolute;
    left: 0;
    color: #902BF5;
    display: inline-block;
}
#top-search div h1 span{
    font-size: 20px;
    margin-left: 10px;
}
#top-search #search-input{
    height: 30px;
    width: 400px;
    margin-top: 22px;
    padding-left: 5px;
    outline: none;
    border: 3px #902BF5 solid;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
#top-search div #submit-button {
    height: 36px;
    width: 60px;
    outline: none;
    color: #ffffff;
    background: #902BF5;
}

#foot{
    width: 100%;
    height: 150px;
    background: #902BF5;
}
#foot a{
    color: #ffffff;
}
#foot-center{
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    font-size: 16px;
    color: #ffffff;
}
#foot-center div{
    width: 33.3%;
    float: left;
    text-align: center;
    padding-top: 20px;
}
#foot-center div h3{
    padding-bottom: 10px;
}
#foot-center div p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

#page{
    display: table;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom: 20px;
}
#page>li:first-child>a{
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
}
#page>li{
    display: inline;
}
#page>li:last-child>a{
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
}
#page>li>a {
    color: #909FFF;
    float: left;
    padding: 5px 8px;
    line-height:15px;
    border: 1px #ddd solid;
}
#page>li>a:hover{
    background: #902BF5;
    color: #ffffff;
    border-color: #902BF5;
}