#compdetil{
    line-height: 30px;
}

#sbutton{
    height: 25px;
    width: 80px;
    outline: none;
    color: #ffffff;
    background: #902BF5;
}

#fedbody{
    margin: auto;
    width: 1100px;
    line-height: 30px;
}

