/*#main{
    width: 1100px;
    margin:0 auto;
    height:500px;
}
.notice-text{
    width:100px;
    padding: 10px 0;
    text-align: center;
    background: #ff6222;
    color: #ffffff;
}
.eva-text-div{
    float: right;
    width: 70%;
    padding-left: 5%;
}
.eva-text-div textarea{
    width:100%;
    height: 200px;
}
.eva-text-div input{
    width:20px;
}
.eva-text-div label{
    display: inline-block;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.eva-text-div span{
    display: inline-block;
    width:20px;
    height:20px;
    vertical-align: middle;
}
.eva-text-div .good{
    background-image: url(../images/env-icon.png);
    background-position-y: 19px;
}
.eva-text-div .middle{
    background-image: url(../images/env-icon.png);
    background-position-y: 69px;
}
.eva-text-div .bad{
    background-image: url(../images/env-icon.png);
    background-position-y: 0;
}
.eva-text-div .sub{
    padding: 10px 0;
    width: 100px;
    text-align: center;
    float: right;
    border-radius: 5px;
    margin-top:20px;
}
.eva-photo-div{
    width:193px;
    margin-left: 5%;
}
.eva-photo-div img{
    margin-top: 20px;
    width: 193px;
    height: 280px;
}
.eva-photo-div h3{
    margin-top: 10px;
    text-align: center;
}*/
.sell-head{
    line-height: 40px;
}
.content{
    height: 40px;
    line-height: 40px;
}
.content input[name="content"]{
    padding-left: 5px;
    margin-top: 2px;
    outline-color: #5725a2;
    outline-style: dashed;
    outline-width: 1px;
    height: 35px;
    width: 700px;
    background: antiquewhite;
}
.sell-head .button{
    padding:0 5px;
}