#more{
    float: right;
}

#wm{
    color: white;
}



#type{
    position: absolute;
    left: 165px;
}

#des{
    position: absolute;
    left: 300px;
}
#time{
    position: absolute;
    left: 450px;
}
#infnum{
    position: absolute;
    left: 350px
}



#content{
    position: absolute;
    left: 220px;
}


