input
{
	border: 1px black solid;
}

#bdhead
{
	text-align: right;
}

#pbutton
{
	height: 45px;
    width: 100px;
    outline: none;
    color: #ffffff;
    background: #902BF5;
}

#bookNum
{
	width: 50px;
	margin-left: 800px;
	margin-bottom: 20px;
}

#bdtop
{
	width: 1100px;
	margin: 0 auto;
	margin-top: 5%;
}

#bdleft
{
	float:left;
	text-align: center;
	width: 40%;
}

#dbleftimage
{
	width: 350px;
	height: 500px;
}

#bdrighttop
{
	margin-top: 30px;
	height: 500px;
	line-height: 60px;
}

#bdrightdown
{
	margin-left: 800px;
}

#bdbutton
{
	margin-left: 50px;
}

#bookdescription
{
	line-height: 50px;
}

#booktitle, #bookauthor, #bookoldgrade,
#bookprice, #user, #tel
{
	padding-left: 10px;
	font-size: 16px;
}