input
{
	border: 1px black solid;
}

#pbutton
{
	height: 25px;
    width: 40px;
    outline: none;
    color: #ffffff;
    background: #902BF5;
}
#publish
{
	width: 1100px;
	margin: 0 auto;
	margin-top: 5%;
	height: 1000px;
}

#pleft
{
	float: left;
	width: 24%;
}

#psubtitle
{
	text-align:center;
	border: #fff solid 1px;
	padding: 10px;
}

#pright
{
	line-height: 40px;
	float:left;
	width: 76%;
	margin-top: 60px;
}

#prightleft
{
	float: left;
	text-align: center;
	width: 50%;
	height: 250px;
}

#pselect
{
	width: 169px;
}

#prightright
{
	float: left;
	text-align: center;
	width:50%;
	height: 250px;
}

#prightdown
{
	width: 100%;
	text-align: center;
	float:left;
	margin-top: 20px;
}

#ptextArea
{
	resize: none;
	float: left;
	width: 165px;
}

#pdescription
{
	margin-left: 91px;
	float: left;
	padding-right: 5px;
}

#pshuliang
{
	margin-left: -4px;
}

#pzhuanye
{
	margin-right: -18px;
}

#pdiv
{
	height: 81px;
}