
#container
{
	width: 1100px;
	line-height: 70px;
        margin:0 auto
}

#text
{
	margin:auto;
}

#wantlist
{
	margin: auto;
}


#check
{
	font-size: 10px;
}

#back
{
	font-size: 10px;
}

#button
{
	width:220px;
	font-size:50px;
	margin:auto;
}

#page
{
	width:140px;
	margin:auto;
}

#text
{
	position:absolute;
	left:750px;
	top:150px;
}

#title
{
	width:130px;
	margin:auto;
}

#count
{
	margin:auto;
	width:55px;
}

#formbutton
{
	font-size:50px;
	margin:auto;
	width:90px;
}

#checkbutton
{
	width:90px;
	margin:auto;
	color:red;
}

#msg
{
	width:500px;
	margin:auto;
}