.order-head{
    display: table;
    width: 100%;
}
.order-head li{
    padding-left:20px;
    padding-right: 20px;
    float: left;
}
.order-head li a{
    color: #000;
}
.sell-head{
    background-color: #f3f3f3;
    width:100%;
    height: 30px;
    line-height: 30px;
}
.goods-all{
    border:2px #bad1ff solid;
    margin-top:15px;
}

#main .goods-ul{
    margin-top:0 !important;
    border:none !important;
    min-width: 1096px;
}
.main-head{
    background: #bad1ff;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #000;
}
.main-head .goods-sure{
    float: right;
    padding: 0;
    margin-right: 20px;
}
.main-head .goods-sure input[type="button"],.main-head .goods-sure input[type="submit"],.main-head .goods-sure span{
    display: inline-block;
    height: 100%;
    line-height: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.goods-all .user-state{
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    padding: 0;
    width: 40px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    margin-left: 10px;
}
.goods-all .buy{
    background: #ff8300;
}
.goods-all .sell{
    background: #ff0775;
}
.goods-all .goods-num{
    font-size: 15px;
    font-weight: bold;
}
.goods-all .all-price{
    float: right;
}
.goods-all .all-price span{
    color: #5725a2;
    font-size: 14px;
    font-weight: bolder;
}
.order-head li .change-address{
    color: #ffffff;
}
.order-head li .change-address h2{
    font-size: 15px;
}
.order-head .button{
    padding: 3px 0 3px 0;
    height: 100%;
    border-radius: 5px;
}