#publishedbooklist{
    margin: auto;
    width: 1100px;
    line-height: 30px;
    min-height: 300px;
}

.publishedbook-top li{
    padding-left:20px;
    padding-right: 20px;
    float: left;
}

#toph{
    margin: auto;
    width: 1100px;
}

#num{
    position: absolute;
    left: 150px;
}

#bname{
    position: absolute;
    left: 200px;
}

#bauther{
    position: absolute;
    left: 300px;
}

#oldgrade{
    position: absolute;
    left: 400px;
}

#ptime{
    position: absolute;
    left: 500px;
}

#udstate{
    position: absolute;
    left: 700px;
}

#bstate{
    position: absolute;
    left: 850px;
}

#appeal{
    position: absolute;
    left: 950px;
}

#edit{
    position: absolute;
    left: 1010px;
}

#del{
    position: absolute;
    left: 1100px;
}